# Local workstation files
backup/
node_modules/
vendor/
.npm
.eslintcache
*.tgz
*.zip
~*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

