fieldset {
    // background-color: #eeeeee;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 10px;
    margin: 10px;
}

.column-width--not-visible {
    display: none;
}

.column-width-span-input {
    display: flex;
    width: 100%;
}

.column-width-value-input {
    width: 65%;
    margin: 5px;
}

.column-width-unit-input {
    width: 30%;
    margin: 5px;
}

.column-label {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin: 8px;
}