@use "@wordpress/base-styles/colors" as *;
@use "@wordpress/base-styles/variables" as *;

.menu-row__main .components-menu-group {
	padding: 2px;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;
	background-color: $gray-100;
}

.menu-row__main .components-popover__content {
    min-width: 220px;
}

.menu-row__main .components-menu-item__shortcut {
    white-space: nowrap;
}

.menu-row__main {
	border-width: 5px;
	border-color: $gray-700;
	border-radius: $radius-small;
}

.components-menu-group {
	border-radius: 0px;
}
