.dtbk-adv-edit-content-settings-field-layout {
	 --wp-ui-card-padding: 8px;
	 --wp-ui-card-header-content-gap: 12px;
 }

.dtbk-adv-edit-content-settings-full-width {
	width: 100%;
	width: stretch;
    min-width: 0;
 }
