/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dynamic-tables-dynamic-tables {
	// background-color: white;
	// color: #fff;
	padding: 2px;
}

#tableTitle {
	//css variables
	--gridAlignment: center;

	text-align: var(--gridAlignment);
}

.grid-scroller {
	overflow: auto;
	max-height: 80vh;
	// background-color: inherit;
}

.grid-control {
	//css variables
	--gridTemplateColumns: auto;
	--gridTemplateRows: auto;
	--gridAlignment: left;
	--gridNumColumns: 1;

	display: grid;
	grid-template-columns: var(--gridTemplateColumns);
	grid-template-rows: var(--gridTemplateRows);
	gap: 1px;
	justify-content: var(--gridAlignment);
}

.grid-control__header {
	display: grid;
	grid-column: 1 / calc(var(--gridNumColumns) + 2);
	grid-template-columns: subgrid;
	grid-template-rows: auto;
}

.grid-control__header-cells {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 1;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	background-color: var(--gridHeaderColor);
	justify-content: var(--gridAlignment);
}

.grid-control__body {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto;
}

.grid-control__body-cells {
	display: flex;
	position: relative;
	padding: 5px;
	margin: -1px;
	border-style: var(--showGridLines);
	border-width: var(--gridLineWidth);
	border-color: black;
	justify-content: var(--gridAlignment);
}

.grid-control__cells--zoom {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding: 0px;
	margin: -1px;
	border-style: var(--showGridLines);
	border-width: var(--gridLineWidth);
	border-color: black;
}

.grid-control__cells--banded-row {
	--bandedRowTextColor: black;
	--bandedRowBackgroundColor: #d8dbda;

	color: var(--bandedRowTextColor);
	background-color: var(--bandedRowBackgroundColor);
}