/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dynamic-tables-dynamic-tables {
	// background-color: white;
	// color: #fff;
	padding: 2px;
}

#tableTitle {
	//css variables
	--gridAlignment: center;

	text-align: var(--gridAlignment);
}

.grid-scroller {
	display: grid;
	gap: 0px;
	background-color: inherit;
}

.grid-control {
	//css variables
	--gridTemplateColumns: auto;
	// --gridTemplateRows: auto;
	--gridAlignment: left;
	--gridNumColumns: 1;
	--horizontalScroll: auto;

	display: grid;
	overflow-x: var(--horizontalScroll);
	grid-template-columns: var(--gridTemplateColumns);
	// grid-template-rows: var(--gridTemplateRows);
	gap: 0px;
	justify-content: var(--gridAlignment);
}

.grid-control__border {
	display: grid;
	overflow-x: inherit;
	grid-column: 1 / calc(var(--gridNumColumns) + 2);
	grid-row: 1/2;
	grid-template-columns: subgrid;
	grid-template-rows: auto;
	position: sticky;
}

.grid-control__header {
	--startGridHeaderRowNbr: 1;
	--endGridHeaderRowNbr: 2;
	--gridTemplateHeaderRows: auto;
	--headerTextAlignment: left;
	--headerBorderTopColor: white;
	--headerBorderTopStyle: solid;
	--headerBorderTopWidth: 0px;
	--headerBorderRightColor: white;
	--headerBorderRightStyle: solid;
	--headerBorderRightWidth: 0px;
	--headerBorderBottomColor: white;
	--headerBorderBottomStyle: solid;
	--headerBorderBottomWidth: 0px;
	--headerBorderLeftColor: white;
	--headerBorderLeftStyle: solid;
	--headerBorderLeftWidth: 0px;


	display: grid;
	overflow-x: inherit;
	grid-column: 1 / calc(var(--gridNumColumns) + 2);
	grid-row: var(--startGridHeaderRowNbr) / var(--endGridHeaderRowNbr);
	grid-template-columns: subgrid;
	grid-template-rows: var(--gridTemplateHeaderRows);
	position: sticky;
	border-top-color: var(--headerBorderTopColor);
	border-top-style: var(--headerBorderTopStyle);
	border-top-width: var(--headerBorderTopWidth);
	border-right-color: var(--headerBorderRightColor);
	border-right-style: var(--headerBorderRightStyle);
	border-right-width: var(--headerBorderRightWidth);
	border-bottom-color: var(--headerBorderBottomColor);
	border-bottom-style: var(--headerBorderBottomStyle);
	border-bottom-width: var(--headerBorderBottomWidth);
	border-left-color: var(--headerBorderLeftColor);
	border-left-style: var(--headerBorderLeftStyle);
	border-left-width: var(--headerBorderLeftWidth);
	gap: 1px;
}

.grid-control__header--sticky {
	max-height: 80vh;
}

.grid-control__header-cells {
	display: flex;
	position: relative;
	top: 0;
	z-index: 1;
	align-items: center;
	// border-bottom-style: solid;
	// border-bottom-width: 3px;
	background-color: var(--gridHeaderColor);
	justify-content: var(--headerTextAlignment);
}

.grid-control__body {
	--startGridBodyRowNbr: 1;
	--endGridBodyRowNbr: 2;
	--gridTemplateBodyRows: auto;
	--bodyTextAlignment: left;
	--bodyBorderTopColor: white;
	--bodyBorderTopStyle: solid;
	--bodyBorderTopWidth: 0px;
	--bodyBorderRightColor: white;
	--bodyBorderRightStyle: solid;
	--bodyBorderRightWidth: 0px;
	--bodyBorderBottomColor: white;
	--bodyBorderBottomStyle: solid;
	--bodyBorderBottomWidth: 0px;
	--bodyBorderLeftColor: white;
	--bodyBorderLeftStyle: solid;
	--bodyBorderLeftWidth: 0px;


	display: grid;
	overflow-y: var(--headerRowSticky);
	overflow-x: hidden;
	grid-column: 1 / calc(var(--gridNumColumns) + 2);
	grid-row: var(--startGridBodyRowNbr) / var(--endGridBodyRowNbr);
	grid-template-columns: subgrid;
	grid-template-rows: var(--gridTemplateBodyRows);
	border-top-color: var(--bodyBorderTopColor);
	border-top-style: var(--bodyBorderTopStyle);
	border-top-width: var(--bodyBorderTopWidth);
	border-right-color: var(--bodyBorderRightColor);
	border-right-style: var(--bodyBorderRightStyle);
	border-right-width: var(--bodyBorderRightWidth);
	border-bottom-color: var(--bodyBorderBottomColor);
	border-bottom-style: var(--bodyBorderBottomStyle);
	border-bottom-width: var(--bodyBorderBottomWidth);
	border-left-color: var(--bodyBorderLeftColor);
	border-left-style: var(--bodyBorderLeftStyle);
	border-left-width: var(--bodyBorderLeftWidth);
	gap: 1px;
}

.grid-control__body-row {
	display: grid;
	grid-column: 1 / calc(var(--gridNumColumns) + 2);
	grid-template-columns: subgrid;
	// grid-template-rows: subgrid;
}

.grid-control__body-rows--banded-row {
	--bandedRowTextColor: black;
	--bandedRowBackgroundColor: #d8dbda;

	color: var(--bandedRowTextColor);
	background-color: var(--bandedRowBackgroundColor);
}

.grid-control__body-cells {
	display: flex;
	position: relative;
	padding: 5px;
	margin: -1px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-style: var(--showGridLines);
	border-width: var(--gridLineWidth);
	border-color: black;
	justify-content: var(--bodyTextAlignment);
	// justify-content: var(--gridAlignment);
}

.grid-control__body-cells--zoom {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding: 0px;
	margin: -1px;
	border-style: var(--showGridLines);
	border-width: var(--gridLineWidth);
	border-color: black;
}